Repository aio-libs/aiomysql, pull requests merged in 2022-01, with the labels that each got.

#567 Fix typo
  examples/example_executemany.py
Labels: docs

#582 Update examples to use async/await
  docs/connection.rst
  docs/cursors.rst
  docs/pool.rst
  docs/sa.rst
  docs/tutorial.rst
Labels: docs

#527 Add parameter "pool_recycle" to Pool object.
  docs/pool.rst
Labels: docs

#681 Don't send sys.argv[0] as program_name to MySQL server by default
  CHANGES.txt
  aiomysql/connection.py
  docs/connection.rst
Labels: pymysql

#660 Fix MySQL 8.0 tests, properly close timed out connections
  CHANGES.txt
  aiomysql/connection.py
  aiomysql/pool.py
Labels: bug

#663 remove deprecated asyncio.coroutines syntax from tests
  tests/_testutils.py
  tests/base.py
  tests/conftest.py
Labels: test

#693 parameterize mysql_address in tests, allow passing one or more addresses via pytest args
  .github/workflows/ci.yml
  tests/conftest.py
Labels: test

#695 implement a shortcut for determining secure connections, now supporting unix sockets
  CHANGES.txt
  aiomysql/connection.py
Labels: pymysql, pymysql-port

#697 Fix Python 3.10 tests
  .github/workflows/ci.yml
  tests/test_pool.py
Labels: test

#698 Introduce feature request issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: enhancement

#700 add xfailing test case for #635
  tests/test_sscursor.py
Labels: test

#643 add support to pymysql 1.0.2
  aiomysql/connection.py
  aiomysql/utils.py
  requirements-dev.txt
  setup.py
  tests/test_basic.py
Labels: enhancement, pymysql, pymysql-port

#708 add missing decorators to async sqlalchemy test methods
  tests/sa/test_sa_default.py
  tests/sa/test_sa_transaction.py
Labels: test

#709 include tests in coverage report
  .github/workflows/ci.yml
Labels: test

#710 remove unused test code
  tests/conftest.py
Labels: test

#711 automatically detect db type and version in tests
  .github/workflows/ci.yml
  tests/conftest.py
  tests/test_sha_connection.py
Labels: test

#713 bump minimal PyMySQL version to 1.0.0
  CHANGES.txt
  requirements-dev.txt
  setup.py
Labels: pymysql

#712 add xfailing test case for #545
  tests/test_cursor.py
Labels: test

#721 Align % formatting in Cursor.executemany() with Cursor.execute()
  CHANGES.txt
  aiomysql/cursors.py
  tests/test_cursor.py
Labels: pymysql, pymysql-port

#722 add python 3.11 tests
  .github/workflows/ci.yml
  requirements-dev.txt
  tests/conftest.py
Labels: test
